# Projeto 1 de LPAA - Análise e Exploração de Dados - LEANDRO DANTAS LIMA (059.323.894-00)

In [36]:
# importando bibliotecas que serão utilizadas
import numpy as np
import pandas as pd
from pandas import DataFrame

In [37]:
# importando o banco de dados UFO Sightings para análise
df = pd.read_csv("scrubbed.csv", sep=",", on_bad_lines='skip', low_memory=False)

In [38]:
# criando uma cópia do dataframe para manter o backup do original
df_copy = df.copy(deep=True)  # deep=True (padrão) o novo objeto será criado com uma cópia dos dados e índices do objeto original, sem alterações no original.

In [39]:
# mostrando as 5 primeiras linhas para entender os dados
df_copy.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

In [40]:
# mostrando as propriedades do df
df_copy.shape

(80332, 11)

In [41]:
# mostrando as colunas do df
df_copy.columns

Index(['datetime', 'city', 'state', 'country', 'shape', 'duration (seconds)',
       'duration (hours/min)', 'comments', 'date posted', 'latitude',
       'longitude '],
      dtype='object')

In [42]:
# mostrando os tipos de dados --> quando não consegue definir, classifica como object
df_copy.dtypes

datetime                 object
city                     object
state                    object
country                  object
shape                    object
duration (seconds)       object
duration (hours/min)     object
comments                 object
date posted              object
latitude                 object
longitude               float64
dtype: object

In [43]:
# mostrando os índices
df_copy.index

RangeIndex(start=0, stop=80332, step=1)

In [44]:
# resumo estatístico do df --> apenas colunas com dados numéricos
df_copy.describe()

         longitude
count  80332.000000
mean     -86.772885
std       39.697205
min     -176.658056
25%     -112.073333
50%      -87.903611
75%      -78.755000
max      178.441900

In [45]:
# conferindo e contando se há valores ausentes no df
df_copy.isna().sum()

datetime                   0
city                       0
state                   5797
country                 9670
shape                   1932
duration (seconds)         0
duration (hours/min)       0
comments                  15
date posted                0
latitude                   0
longitude                  0
dtype: int64

In [46]:
# limpando dados ausentes
df_copy_clean = df_copy.dropna()

In [47]:
# conferindo se ainda há valores ausentes
df_copy_clean.isna().sum()

datetime                0
city                    0
state                   0
country                 0
shape                   0
duration (seconds)      0
duration (hours/min)    0
comments                0
date posted             0
latitude                0
longitude               0
dtype: int64

In [48]:
# avaliando os tipos de dados por coluna
df_copy_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 66516 entries, 0 to 80331
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   datetime              66516 non-null  object
 1   city                  66516 non-null  object
 2   state                 66516 non-null  object
 3   country               66516 non-null  object
 4   shape                 66516 non-null  object
 5   duration (seconds)    66516 non-null  object
 6   duration (hours/min)  66516 non-null  object
 7   comments              66516 non-null  object
 8   date posted           66516 non-null  object
 9   latitude              66516 non-null  object
 10  longitude             66516 non-null  float64
dtypes: float64(1), object(10)
memory usage: 6.1+ MB

In [80]:
# corrigindo dados não numéricos para estatísticas
col_num = ['duration (seconds)', 'latitude', 'longitude ']

def to_type(DataFrame, columns, type):
    for col in columns:
        DataFrame[col] = DataFrame[col].astype(type)
        
to_type(df_copy_clean, col_num, 'float')

C:\Users\ldl\AppData\Local\Temp\ipykernel_7156\3999699206.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DataFrame[col] = DataFrame[col].astype(type)
C:\Users\ldl\AppData\Local\Temp\ipykernel_7156\3999699206.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DataFrame[col] = DataFrame[col].astype(type)
C:\Users\ldl\AppData\Local\Temp\ipykernel_7156\3999699206.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DataFrame[col] = DataFrame[col].astype(type)

In [76]:
# reconferindo tipo de dados na coluna latitude
df_copy_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 66516 entries, 0 to 80331
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   datetime              66516 non-null  object
 1   city                  66516 non-null  object
 2   state                 66516 non-null  object
 3   country               66516 non-null  object
 4   shape                 66516 non-null  object
 5   duration (seconds)    66516 non-null  float64
 6   duration (hours/min)  66516 non-null  object
 7   comments              66516 non-null  object
 8   date posted           66516 non-null  object
 9   latitude              66516 non-null  float64
 10  longitude             66516 non-null  float64
dtypes: float64(3), object(8)
memory usage: 6.1+ MB

In [77]:
# filtrando dados para localização
coord = ['latitude', 'longitude ']
local = df_copy_clean[coord]

In [78]:
# exportando/salvando coordenadas para uma planilha excel
local.to_excel(r'coordenadas.xlsx')